.selector-main{
    width: 90%;
    height: 30px;
}
.selector-text{
    width: 16%;
    float: left;
}
.selector-selector{
    width: 82%;
    float: right;
}
/*.table-container{
    width: 90%;
    overflow: scroll;    
}*/
/*table,th,td{
    border:1px solid black;
}*/

/*table { margin: 1em; border-collapse: collapse; }
td, th { padding: .3em; border: 1px #ccc solid; width: 120px !important;}*/

/*table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}*/

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

